/* Header */
.header {
  border-bottom: solid #d53416 4px;
  padding-top: 5px;
}

.header img {
  padding-left: 15%;
  height: 100px;
}

.adress {
  width: 75%;
  padding-top: 5px;
  margin: 0 auto;
}

.adress h4 i{
  padding-right: 5px;
  color: #d53416;
}
.adress h4 {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.adress p {
  font-size: 12px;
  margin-bottom: 5px;
}

.adress p:last-child {
  font-style: italic;
  font-weight: bold;
}

/* Navigation */
.nav ul {
  margin-left: 15px;
  list-style-type: none;
  overflow: hidden;
  background-color: #f4a11e;
}

.nav li {
  float: left;
  border-right: solid #d53416 1px;
}

.nav li:last-child {
  border: none;
}

.nav li a, li a:focus {
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover, .nav li a.active {
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
  text-decoration: none;
  background-color: #d53416;
  color: white;
}

.breadcrum p {
  font-size: 13px;
  font-style: italic;
  padding-left: 15px;
}

.breadcrum p i {
  color: #d53416;
}